<div class="l-header-dropdown">
  <div class="l-mega-menu" style="top: 115px;">
    <div class="l-mega-menu-inner">
      <i class="c-megamenu-close icon-symbol-close"></i>
      <div class="l-mega-menu-column">
        <h2 class="c-mega-menu-column-headline">Fluid handling</h2>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Automation</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/automation/control-unit/">Control unit</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/automation/indication/">Indication </a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Fluid control equipment</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/fluid-control-equipment/fluid-control-equipment/">Fluid control equipment</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Installation material</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/fittings/hygienic-fittings/">Hygienic fittings </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/fittings/ultrapure-fittings/">UltraPure fittings</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tubes/hygienic-tubes/">Hygienic tubes</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tubes/ultrapure-tubes/">UltraPure tubes</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Instrumentation</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/analytical-instruments/">Analytical instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/cleaning-validation-instruments/">Cleaning validation instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/flow-instruments/">Flow instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/instrumentation-accessories/">Instrumentation accessories</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/level-instruments/">Level instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/pressure-instruments/">Pressure instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/temperature-instruments/">Temperature instruments</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/instrumentation/weighing-instruments/">Weighing systems</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Mixing equipment</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/mixing-equipment/agitators/">Agitators</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/mixing-equipment/eductors/">Tank mixing eductors</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/mixing-equipment/mixers/">Mixers</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Pumps</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/pumps/centrifugal-pumps0/">Centrifugal pumps</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/pumps/circumferential-piston-pumps/">Circumferential piston pumps</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/pumps/rotary-lobe-pumps/">Rotary lobe pumps</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/pumps/three-screw-pumps/">Three screw pumps</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Tank cleaning equipment</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tank-cleaning-equipment/rotary-jet-heads/">Rotary jet heads</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tank-cleaning-equipment/rotary-spray-heads/">Rotary spray heads</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Tank equipment</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tank-equipment/tank-accessories/">Tank accessories</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/tank-equipment/tank-covers/">Tank covers</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Valves</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/ball-valves/">Ball valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/butterfly-valves/">Butterfly valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/controlcheck-valves/">Control/check valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/diaphragm-valves/">Diaphragm valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/double-seal-valves/">Double seal valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/double-seat-valves/">Double seat valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/regulating-valves/">Regulating valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/safety-valves/">Safety valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/sample-valves/">Sample valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/shutter-valves/">Shutter valves</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/fluid-handling/valves/single-seat-valves/">Single seat valves</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-mega-menu-column">
        <h2 class="c-mega-menu-column-headline">Heat transfer</h2>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Air heat exchangers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-coil-air-heat-exchangers/air-coolers/">Finned coil air coolers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-coil-air-heat-exchangers/finned-coil-air-heaters/">Finned coil air heaters</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-coil-air-heat-exchangers/finned-coil-condensers/">Finned coil condensers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-coil-air-heat-exchangers/finned-coil-gas-coolers/">Finned coil gas coolers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-coil-air-heat-exchangers/air-cooled-liquid-coolers/">Finned coil liquid coolers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/finned-tube-air-heat-exchangers/finned-tube-air-heat-exchangers/">Finned tube air heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/wet-surface-air-heat-exchangers/wet-surface-air-heat-exchangers/">Wet surface air heat exchangers</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Boilers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/boilers/exhaust-gas-economizer/">Exhaust gas economizer</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/boilers/oilgas-fired-composite-steam-boiler/">Oil/gas-fired composite steam boiler </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/boilers/oilgas-fired-steam-boiler/">Oil/gas-fired steam boiler</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Burners</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/burners/aalborg-mpf-multi-fuel/">Aalborg MPF Multi Fuel</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/burners/gas-combustion-unit/">Gas combustion unit</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Heaters</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/heaters/oilgas-fired-hot-water-heater/">Oil/gas-fired hot water heater</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/heaters/oilgas-fired-thermal-heaters/">Oil/gas-fired thermal heaters</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/heaters/waste-heat-recovery-heater/">Waste heat recovery heater</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">HVAC solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/cooling-systems/">Cooling systems</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/heating-systems-large/">Heating systems large</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/heating-systems-medium/">Heating systems medium</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/heating-systems-small/">Heating systems small</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/multi-energy-pilot-/">Multi-Energy Pilot </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/pressurisation-sets/">Pressurisation sets</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/storage-tanks/">Storage tanks</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/hvac-solutions/tap-water-systems/">Tap water systems</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Plate heat exchangers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/brazed-plate-heat-exchangers/">Brazed plate heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/fusion-bonded-plate-heat-exchangers/">Fusion-bonded plate heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/gasketed-plate-and-frame-heat-exchangers/">Gasketed plate-and-frame heat exchangers </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/printed-circuit-heat-exchangers/">Printed circuit heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/welded-spiral-heat-exchangers/">Welded spiral heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/welded-plate-and-block-heat-exchangers/">Welded plate-and-block heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/welded-plate-and-frame-heat-exchangers/">Welded plate-and-frame heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/plate-heat-exchangers/welded-plate-and-shell-heat-exchangers/">Welded plate-and-shell heat exchangers</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Scraped surface heat exchangers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/scraped-surface-heat-exchangers/single-scraped-surface-heat-exchangers/">Single scraped surface heat exchangers</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Tubular heat exchangers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/process-gas-boilers/">Process gas boilers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/process-shell-and-tube-heat-exchangers/">Process shell-and-tube heat exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/quench-exchangers/">Quench exchangers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/shell-and-coil-heat-exchangers/">Shell-and-coil heat exchangers </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/shell-and-tube-condenser/">Shell-and-tube condenser</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/shell-and-tube-evaporator/">Shell-and-tube evaporator</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/shell-and-tube-heat-exchangers/">Shell-and-tube heat exchanger</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/heat-transfer/tubular-heat-exchangers/tube-in-tube-heat-exchangers/">Tube-in-tube heat exchangers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-mega-menu-column">
        <h2 class="c-mega-menu-column-headline">Separation</h2>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Automatic back flushing filters</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/automatic-back-flushing-filters/cylindrical-filter-baskets/">Cylindrical filter baskets</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/automatic-back-flushing-filters/filtering-elements/">Filtering elements</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Centrifugal separators</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/centrifugal-separators/decanters/">Decanters</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/centrifugal-separators/separators/">Separators</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Evaporation systems</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/evaporation-systems/plate-flash-evaporation-system/">Plate flash evaporation system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/evaporation-systems/plate-rising-film-evaporation-system/">Plate rising film evaporation system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/evaporation-systems/st-falling-film-evaporation-system/">S&amp;T falling film evaporation system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/evaporation-systems/tube-flash-evaporation-system/">Tube flash evaporation system</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Filters and strainers</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/as-h-belt-thickener/">AS-H Belt Thickener</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/as-h-iso-disc/">AS-H Iso-Disc</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/as-h-plate-press/">AS-H Plate Press</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/belt-press/">Belt press</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/distributors/">Distributors</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/rotary-drum-filters/">Rotary drum filters</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/screw-presses/">Screw presses</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/filters-and-strainers/w-sil/">W-Sil</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Membranes</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/auxiliary-membrane-equipment/">Auxiliary membrane equipment</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/flat-sheet-membranes/">Flat sheet membranes</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/hollow-sheet-membranes/">MBR membranes</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/labstak/">LabStak™</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/modules/">Modules</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/production-units/">Production units</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/spiral-membranes/">Spiral membranes</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/membranes/standalone-pilot-plants/">Standalone pilot plants</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Pump control system</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/separation/pump-control-system/flowsync/">FlowSync</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-mega-menu-column">
        <h2 class="c-mega-menu-column-headline">Process solutions</h2>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Ballast water solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/ballast-water-treatment-system/pureballast-3.1/">PureBallast 3.1 </a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Brewery solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/aseptic-blending-modules/">Aseptic blending modules</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/aseptic-mixing-modules/">Aseptic mixing modules </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/aseptic-tank-modules/">Aseptic tank modules</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/beer-dealcoholisation-modules/">Beer dealcoholisation modules</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/sampling-systems/centralised-sampling-system/">Centralised sampling system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/cip-modules/cip-station/">CIP station</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/deaeration-modules-ambient/">Deaeration modules ambient </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/deaeration-modules-under-vacuum/">Deaeration modules under vacuum </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/tank-top-systems/tank-top-plate-system/">Tank top plate system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/wort-modules/">Wort modules </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/brewery-solutions/yeast-modules/">Yeast modules</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Bulk solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/bulk-solutions/air-eductor/">Air eductor</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/bulk-solutions/bulk-powder-system/">Bulk powder system</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Desalination solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/desalination-solutions/mechanical-vapour-compression/">Mechanical vapour compression </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/desalination-solutions/multi-effect-desalination/">Multi effect desalination </a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Environmental protection systems</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/environmental-protection-solutions/wet-exhaust-gas-cleaning-system/">Wet exhaust gas cleaning system</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Filling solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/filling-solutions/aseptic-bag-in-box-fillers/">Aseptic bag in box fillers </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/filling-solutions/bag-in-box-fillers/">Bag in box fillers </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/filling-solutions/bag-in-box-modules/">Bag in box modules </a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Fresh water solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/fresh-water-solutions/plate-based-hot-water-loop/">Plate based hot water loop</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/fresh-water-solutions/single-stage-fresh-water-generator/">Single stage fresh water generator</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Fuel conditioning solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/fuel-conditioning-solutions/automated-fuel-changeover-system/">Automated Fuel Changeover System</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/fuel-conditioning-solutions/fuel-conditioning-modules-gas/">Fuel Conditioning Modules Gas</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/fuel-conditioning-solutions/fuel-conditioning-modules-oil/">Fuel Conditioning Modules Oil</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Marine exhaust gas solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/marine-exhaust-gas-solutions/scrubber-water-treatment-management/">Scrubber water treatment management </a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Olive oil solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/olive-oil-solutions/centrifugal-separator-modules/">Centrifugal separator modules </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/olive-oil-solutions/crushers/">Crushers</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/olive-oil-solutions/malaxers/">Malaxers </a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/olive-oil-solutions/olive-oil-systems/">Olive oil systems</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/olive-oil-solutions/washing-machines/">Washing machines</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Protein solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/protein-solutions/fish-process-systems/">Fish process systems</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/protein-solutions/rendering-systems/">Rendering systems</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Refrigeration solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/refrigeration-solutions/u-turn/">U-Turn</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Safety solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/safety-solutions/combustion-type-inert-gas-system/">Combustion type inert gas system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/safety-solutions/flue-gas-type-inert-gas-system/">Flue gas type inert gas system</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/safety-solutions/inert-gas-system/">Inert gas system</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Thermal solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/thermal-solutions/heat-treatment-modules/">Heat treatment modules</a>
            </li>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/thermal-solutions/plate-flash-evaporation-system-/">Plate flash evaporation system</a>
            </li>
          </ul>
        </div>
        <div class="c-mega-menu-list">
          <h3 class="c-mega-menu-headline">Vegetable oil solutions</h3>
          <ul>
            <li>
              <a class="c-mega-menu-link" href="/products/process-solutions/vegetable-oil-solutions/continuous-deodorization-systems/">Continuous deodorization systems</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-header-mobile-menu">
    <ul class="l-header-mobile-menu-list">
      <li class="l-header-mobile-menu-item">
        <span>Products and solutions</span>
        <i class="icon-angle-right"></i>
      </li>
      <li class="l-header-mobile-menu-item">
        <span>Industries</span>
        <i class="icon-angle-right"></i>
      </li>
      <li class="l-header-mobile-menu-item">
        <span>Service and support</span>
        <i class="icon-angle-right"></i>
      </li>
      <li class="l-header-mobile-menu-item">Contact</li>
    </ul>
  </div>
</div>